/* color variable */

:root{
    --red:#f42625;
    --white:#ffffff;
    --black:#000000;
    --grey:#0f0f0f;
 }
 
 /* navbar styling */
 #navbar-items{
    gap: 30px;
 }
 #navbar{
    padding: 0px 10px;
 }
 
 #main-logo{
    width: 165px;
 }
 .nav-link{
    text-decoration: none;
 }
 #franchise{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 20px;
    cursor: pointer;
 }
 #order-online{
    background-color: var(--red);
    border: 0px;
    padding: 15px 20px;
    cursor: pointer;
 }
 #red{
    color: var(--red);
 }

 .padding-lft{
    padding-left: 80px;
 }

 .padding-rgt{
    padding-right: 80px;
 }



 /* salt and pepper express started */

 
.ml{
   margin-left: -15px;
}


.mr{
   margin-right: -15px;
}





  /* salt and pepper express ended */




  .width-1{
   width:360px;
 }
 
 .grey-pad{
   background-color: var(--grey);
   padding: 15px;
 }


 
 
 /* express franchise locations styling started */

 .gap-2{
   gap: 100px;
 }
.margin{
   margin-right: 225px;
}





 /* express franchise locations styling ended*/



