/* color variable */

:root{
   --red:#f42625;
   --white:#ffffff;
   --black:#000000;
   --grey:#0f0f0f;
}

/* navbar styling */

#navbar-items{
   gap: 30px;
}
#navbar{
   padding: 0px 10px;
}

#main-logo{
   width: 165px;
}
.nav-link{
   text-decoration: none;
}
#franchise{
   background-color: transparent;
   border: 1px solid white;
   padding: 15px 20px;
   cursor: pointer;
}
#order-online{
   background-color: var(--red);
   border: 0px;
   padding: 15px 20px;
   cursor: pointer;
}
#red{
   color: var(--red);
}
#btn-icon{
   padding: 5px 7px; 
}

 .padding-lft{
    padding-left: 80px;
 }

 .padding-rgt{
    padding-right: 80px;
 }

 /* Review stars styling started */
 
  body {
   font-family: 'Arial', sans-serif;
   background-color: #f4f4f4;
   margin: 0;
} 

.stars {
   display: inline-block;
   font-size: 12px;
   cursor: pointer;
   gap: 1px;
}

.stars input {
   display: none;
}

.stars label {
   float: right;
   color:#a0a0a0;
   margin: 0.1px;
   cursor: pointer;
}

.stars label:before {
   content: '\2605';
   font-size: 2em;
}

.stars input:checked ~ label {
   color:var(--red);
}

.stars:hover label:before,
.stars:hover label:after,
.stars label:hover ~ label:before,
.stars input:checked ~ label:before,
.stars input:checked ~ label:after {
   color: var(--red);
}

.padding{
   padding: 10px;
}
.mr{
   margin-left:400px;
}











 /* Review stars styling ended */




/* Form styling started */


input{
   padding: 12px;
   border-radius:4px;
   width:550px;
   color: #000;
   
   
   
}

.text-red{
   color: var(--red);
}










/* Footer styling started */

.liststyle{
   list-style: none;
}




