/* color variable */

:root{
    --red:#f42625;
    --white:#ffffff;
    --black:#000000;
    --grey:#0f0f0f;
 }
 
 /* navbar styling */
 #navbar-items{
    gap: 30px;
 }
 #navbar{
    padding: 0px 10px;
 }
 
 #main-logo{
    width: 165px;
 }
 .nav-link{
    text-decoration: none;
 }
 #franchise{
    background-color: transparent;
    border: 1px solid white;
    padding: 15px 20px;
    cursor: pointer;
 }
 #order-online{
    background-color: var(--red);
    border: 0px;
    padding: 15px 20px;
    cursor: pointer;
 }
 #red{
    color: var(--red);
 }

 .padding-lft{
    padding-left: 80px;
 }

 .padding-rgt{
    padding-right: 80px;
 }

 /* Review stars styling started */
 
  body {
   font-family: 'Arial', sans-serif;
   background-color: #f4f4f4;
   /* display: flex; */
   /* align-items: center; */
   /* justify-content: center; */
   /* height: 100vh; */
   margin: 0;
} 

.stars {
   display: inline-block;
   font-size: 12px;
   cursor: pointer;
}

.stars input {
   display: none;
}

.stars label {
   float: right;
   color: #ddd;
   margin: 0.1em;
   cursor: pointer;
}

.stars label:before {
   content: '\2605';
   font-size: 2em;
}

.stars input:checked ~ label {
   color:var(--red);
}

.stars:hover label:before,
.stars:hover label:after,
.stars label:hover ~ label:before,
.stars input:checked ~ label:before,
.stars input:checked ~ label:after {
   color: var(--red);
}




 /* Review stars styling ended */




/* Form styling started */


input{
   padding: 12px;
   border-radius:4px;
   width:100%;
   color: #000;
   size: 1000px;
   
}







/* Footer styling started */

.liststyle{
   list-style: none;
}




