/* color variable */

:root{
   --red:#f42625;
   --white:#ffffff;
   --black:#000000;
   --grey:#0f0f0f;
}

/* navbar styling */

#navbar-items{
   gap: 30px;
}
#navbar{
   padding: 0px 10px;
}

#main-logo{
   width: 165px;
}
.nav-link{
   text-decoration: none;
}
#franchise{
   background-color: transparent;
   border: 1px solid white;
   padding: 15px 20px;
   cursor: pointer;
}
#order-online{
   background-color: var(--red);
   border: 0px;
   padding: 15px 20px;
   cursor: pointer;
}
#red{
   color: var(--red);
}
#btn-icon{
   padding: 5px 7px; 
}

 input{
   padding: 12px;
   border-radius:4px;
   width:550px;
   color: #000;
   height: 50px;
   
}

 .box label{
   margin-left: 10px;
   font-size: 20px;
 }

 .ml{
   margin-left:40px;
 }


 .font-size{
   font-size: 40px;
 }

 .liststyle{
   list-style: none;
 }

 .gap-3{
   gap: 40px;
 }


 /* Submit button styling started */
 
.width-3{
   width:180px;
}
.ml-3{
   margin-left: 130px;
}

/* Submit button styling ended */