*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family:sans-serif;
    
}

/* utility classes */


/* flex classes start */

.d-flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.justify-evenly{
    justify-content: space-evenly;
}
.align-center{
    align-items: center;
}
.align-between{
    align-items: space-between;
}
.align-around{
    align-items: space-around;
}
.align-evenly{
    align-items: space-evenly;
}
.wrap{
    flex-wrap: wrap;
}
.flex-column{
    flex-direction: column;
}
.flex-row{
    flex-direction: row;
}
.flex-start{
    justify-content: flex-start;
}
/* flex classes end */


/* margin classes start */
.m-1{
    margin: 5px;
}
.m-2{
    margin: 10px;
}
.m-3{
    margin: 15px;
}
.m-4{
    margin: 20px;
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}
.mt-5{
    margin-top: 35px;
}
.mt-6{
    margin-top: 40px;
}
.mt-7{
    margin-top: 80px;
}
.ml-1{
    margin-left: 100px;
}
.mr-1{
    margin-right: 450px;
}
/* margin classes end */

.bg-light{
    background-color: #ffffff;
}
.bg-dark{
    background-color: var(--black);
}
.bg-grey{
    background-color: #0f0f0f;
}

.center{
    text-align: center;
}
.rounded{
    border-radius: 30px;
}
.rounded-sm{
    border-radius: 5px;
   
}
.rounded-md{
    border-radius: 20px;
 }
.text-dark{
    color: #000000;
}
.text-light{
    color: #ffffff;
}
.text-grey{
    color: #ffffffb3;
}

.transparent{
    background-color: transparent;
}
/* width class started */

.width{
    width: 550px;
  }
  



/* width class started */



/* Footer styling started */



 .fa-brands{
    font-size: 25px;
    margin: 5px;
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    border-radius: 40px;
 }
 .icons{
    margin: 3px;
 }
 /* hr{
    width: 90%;
    border: 0;
    border-bottom:1px solid #ccc ;
    margin: 20 auto;
 } */

 /* Footer styling started */
 
 /* fonts  */

 .san-serif{
    font-family: sans-serif;
 }


  .font-size1{
    font-size: 40px;
  }

  
 .grey{
     color:var(--grey);
     }





 /* fonts  */


 .sideimage{
    padding-top: 50px;
 }